
#map {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	background: black;
}

.btn {
	display: block;
	width: 100%;
}