
body {
	font-family: 'Helvetica Neue';
	font-size: 12px;
	line-height: 1.5;
}

#map {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.controls,
.info {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	background: black;
	padding: 10px;
}

.info {
	right: auto;
	left: 0;
	background: white;
}

.btn {
	display: block;
	width: 100%;
}

.marker {
	position: absolute;
	height: 8px;
	width: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 50%;
	background: yellow;
	cursor: pointer;
}